<div  class="creditBox"  (click)="Credits()">
  <span  class="creditText">Creditos</span>
  <div  class="creditLogo"></div>
</div>

<div class="base">
  <div>
    <button id="login" (click)= "Login()">Log In</button>
  </div>
  <div></div>
  <div >
    <button id="signup" (click) = "Signup()">Sign Up</button>
  </div>
  <div >
    <button mat-button [hidden]="isIOS" class="installButton"  (click)="installPwa()">Install</button>
  </div>
  <div [hidden]="!isIOS" class="install">
    <span>Para instalar en tu dispositivo móvil, pulsa el boton de inicio “Compartir”
    <img id="share" src="../../../../assets/share.png" alt="share">
    <!--
    en IOS o el boton “Menú”  <img id="menu" src="../../../../assets/menu.png" alt="menu"> en Androi,
    -->
    y selecionar “Agregar a inicio”</span>
  </div>




</div>
