<div  class="creditBox"  (click)="Credits()">
  <span  class="creditText">Creditos</span>
  <div  class="creditLogo"></div>
</div>

<div class="base">
  <!--
  <div>
    <button id="login" (click)= "Login()">Iniciar Sesión</button>
  </div>
  <div></div>
  <div >
    <button id="signup" (click) = "Signup()">Registrarse</button>
  </div>
  -->

  <div >
    <button [hidden]="hidInstBut" class="installButton"  (click)="installPwa()">Instalar</button>
  </div>
  <div [hidden]="hidInstText" class="install">
    <span>Para instalar en tu dispositivo móvil, pulsa el boton de inicio “Compartir”
    <img id="share" src="../../../../assets/share.png" alt="share">
    <!--
    en IOS o el boton “Menú”  <img id="menu" src="../../../../assets/menu.png" alt="menu"> en Androi,
    -->
    y selecionar “Agregar a Inicio”</span>
  </div>


  <div class="infoText">
    <span>
      El sistema de Gestión de Muestras de Campo es un proyecto que tiene como objetivo
      desarrollar una Aplicación Web Progresiva para la gestión de muestras de campo de la Clínica de Enfermedades
      de Plantas de la Universidad Central de Venezuela
    </span>
  </div>


  <div class="footer">
    <div class="footerText">
      <span>Universidad Central de Venezuela (UCV) · Facultad Ciencias · </span>
      <span class="Orange" (click)="Credits()">Créditos</span>
    </div>
    <div class="logoCiens"></div>
  </div>







</div>
