
<div class="navbar2Box"></div>

  <div class="navbar2" >

    <div class="navbar2Text" id="cerrarText" (click)="handleSignOut()">
      <img src="../../assets/logout-2.png" alt="Out" width="50" height="50">
      <br class="break">
      Cerrar Sesión
    </div>

    <div class="navbar2Text" id="UnidadText" (click)="Unidad()">
      <img src="../../assets/shovel2.png" alt="Shovel" width="50" height="50">
      <br class="break">
      Unidades de Producción
    </div>

    <div class="navbar2Text" id="MuestrasText" (click)="Muestras()">
      <img src="../../assets/prueba-de-sangre.png" alt="Shovel" width="50" height="50">
      <br class="break">
      Muestras
    </div>


  </div>











<router-outlet></router-outlet>

