<div  class="navbar">



  <div  class="tituloBox" (click)="Home()">
    <!--
    <span  class="tituloText" (click)="Home()">Gestión de Muestras</span>

    <span  class="tituloText">Clinica de Plantas <br /> </span>
    <span  class="tituloSubText">Gestión de Muestras</span>
    -->

   <span  class="tituloText" >Clinica de Plantas </span>
   <br class="space"/>
   <span  class="tituloSubText">Gestión de Muestras</span>

  </div>
  <div  class="logoAgro"></div>
  <div class="logoCiens"></div>
  <div  class="logoUcv"></div>


  <div  class="homeBox" (click)="Login()">
    <div  class="UserLogo"></div>

    <span  class="homeText">Ingresar</span>
    <div  class="homeLogo"></div>
  </div>




</div>
<router-outlet></router-outlet>

