/*
.container{
  position:absolute;
  height: 800px;
  width: 1000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/


.main{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-fields{
  margin: 10px;
}


.input-field{
  width: 300px;
  height: 20px;
}

button{
  width: 100px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}

.homeBox {/*Home box*/
	background-color:#0A9217;/*rgba(62.00000010430813, 194.00000363588333, 143.00000667572021, 1);*/
	/*border-right: 4px solid white;*/
	width:25%;
	height:10%;
	position:absolute;
  cursor: pointer;
	left:75%;/*0px;*/
	top:0%;
	text-align:center;
}
.homeText { /*Home text*/
	color:rgba(255, 255, 255, 1);
	display: inline-block;
  	vertical-align: middle;
  	/*line-height: 280%;*/
	font-family:Verdana;
	font-size:32px;
	letter-spacing:0;
	position:absolute;
  right:20px;
	top:30%;

}
.UserLogo { /*Home text*/
  position:absolute;

  top:30%;
  right:175px;

  width:36px;
  height:36px;
  text-align:center;
  background-image:url(../../assets/userWhite.png);
  background-repeat:no-repeat;
  background-size:cover;

  /*display: none;*/

}
.tituloBox { /*Titulo box*/
	background-color:#0A9217;/*rgba(62.00000010430813, 194.00000363588333, 143.00000667572021, 1);*/
	width:100%;
	height:10%;
	position:absolute;
	left:0%; /*20%;*/
	top:0%;
	text-align:center;
}
.tituloText { /*Titulo Texto*/
	color:rgba(255, 255, 255, 1);
	display: inline-block;
  	vertical-align: middle;
  	line-height: 225%;
	font-family:Verdana;
  font-weight: bold;
	font-size:40px;
	letter-spacing:0;
  /*position:absolute;
  left:40%;*/
}
.logoAgro { /*Logo Ciens*/ /*Logo Agro*/
	width:100px;
	height:69px;
	position:absolute;
	left: 140px;
	top: 1%;
	background-image:url(../../assets/Logo-Agronomia2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.logoUcv { /*Logo Ucv*/
	width:69px;
	height:69px;
	position:absolute;
	left: 30px;
	top: 1%;
	background-image:url(../../assets/logo_ucv_bg2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}






@media only screen and (max-width: 768px) {



  .homeBox {/*Home box*/
    background-color:#0A9217;
    border-right: 4px solid white;
    width:20%;
    height:15%;
    position:absolute;
    left:0px;
    top:0%;

  }
  .homeText { /*Home text*/
    /*color:rgba(255, 255, 255, 1);
    display: inline-block;
      vertical-align: middle;
      line-height: 250%;
    font-family:Verdana;
    font-size:32px;
    letter-spacing:0;*/

    display: none;

  }


  .UserLogo { /*Home text*/
    position:absolute;

    top:30%;
    /*right:175px;*/
    left:25%;

    width:36px;
    height:36px;
    text-align:center;
    background-image:url(../../assets/userWhite.png);
    background-repeat:no-repeat;
    background-size:cover;

    /*display: none;*/

  }

  .homeLogo { /*Home text*/
    /*position:relative;

    top:30%;
    left:25%;

    width:36px;
    height:36px;
    text-align:center;
    background-image:url(../../assets/home.png);
    background-repeat:no-repeat;
    background-size:cover;*/

    display: none;

  }
  .tituloBox { /*Titulo box*/
    background-color:#0A9217;/*#0A9217;/*rgba(62.00000010430813, 194.00000363588333, 143.00000667572021, 1);*/
    width:80%;
    height:15%;
    position:absolute;
    left:20%;
    top:0%;
    text-align:center;
  }
  .tituloText { /*Titulo Texto*/
    color:rgba(255, 255, 255, 1);
    line-height: 1.6;
    display: inline-block;
      vertical-align: middle;
      /*line-height: 250%;*/
    font-family:Verdana;
    font-size:32px;
    letter-spacing:0px;
  }

  .logoAgro { /*Logo Ciens*/
    width:45px;
    height:35px;
    position:absolute;
    left: 84%;
    top: 5%;
    background-image:url(../../assets/Logo-Agronomia2.png);
    background-repeat:no-repeat;
    background-size:cover;
  }
  .logoUcv { /*Logo Ucv*/
    width:35px;
    height:35px;
    position:absolute;
    left: 24%;
    top: 5%;
    background-image:url(../../assets/logo_ucv_bg2_1.png);
    background-repeat:no-repeat;
    background-size:cover;
  }





}
