<p>barcode-new works!</p>



<!-- (ngSubmit)="generateBarcode(loginForm.value)"" -->

<!--

<h1 id="test"></h1>

<br>

<form #loginForm="ngForm" (ngSubmit)="generateBarcode(item)">
  <div class="main">

    <div class="input-fields">
        <input name="txt_input" ngModel placeholder=" " id="txt_input" type="text" class="input-field" />
    </div>

    <br>



    <button id="btn_generate" class="barcode">Generar Codigo de Barras</button>
  </div>
</form>

<br><br>
 -->

 <!-- <svg onclick="window.print(this)" id="barcode0"></svg> -->
<!--
<div id="codes">
  <div class="subcodes">

    <svg id="barcode" ></svg>
    <br><br>
  </div>


  <div class="subcodes">
    <svg id="barcode0"></svg>
  </div>

  <div class="subcodes">
    <svg id="barcode1"></svg>
  </div>

  <div class="subcodes">
    <svg id="barcode2"></svg>
  </div>

  <div class="subcodes">
    <svg id="barcode2"></svg>
  </div>

  <div class="subcodes">
    <svg id="barcode4"></svg>
  </div>

  <div class="subcodes">
    <svg id="barcode5"></svg>
  </div>

</div>
-->

<h1 class="subTituloText">Generar Codigo</h1>

<div  class="loginBox">

  <form #loginForm="ngForm" (ngSubmit)="handleRegister(loginForm.value)">
    <div class="main" >

      <div class="group1">
        <!--
        <div class="input-fields">
          <span  class="Text">Projecto: </span>
          <input name="id" ngModel placeholder="ID Projecto" id="id" type="id" class="input-field" />
          <span  class="Opcional"> (opcional) </span>
        </div>
        -->
        <div class="input-fields">
          <span  class="Text">Unidad de Producción: </span>
          <input name="ud" ngModel placeholder="ID Unidad" id="ud" type="ud" class="input-field" />
          <span  class="Opcional"> (opcional) </span>
        </div>


        <!--
        <input list="unidades-produccion-list" name="unidad-produccion" id="unidad-produccion-input">
        <datalist id="unidades-produccion-list">
          <option *ngFor="let nombre of unidadProduccionNombres" [value]="nombre"></option>
        </datalist>
        -->



      </div>



      <!--
      <div class="input-fields">
        <input name="txt_input" ngModel placeholder=" " id="txt_input" type="text" class="input-field" />
      </div>
      -->

      <div class="group2">
        <div class="input-fields">
          <span  class="Text"> Codigo: </span>
          <input name="codigo" ngModel placeholder="Codigo" id="codigo" type="codigo" class="input-field"/>
          <span  class="red"> * (obligatorio) </span>
        </div>

      </div>

      <button class="print">Generar</button>

      <button id="volver" (click)="backPage()"></button>

    </div>
  </form>
</div>




<!--<button class="print" (click)="toPrint()">Print</button>-->


