.main{

  /*display: flex;
  height: 100vh;*/
  justify-content: center;
  flex-direction: column;
  position:absolute;
  margin: 10px;
  height: 95%;
  width: 95%;
  /*left: 35%;
  top: 35%;*/
}

.subTituloText { /*SubTitulo Texto*/
	color:#0A9217;/*rgba(62.00000010430813, 194.00000363588333, 143.00000667572021, 1);*/
	position:absolute;
  margin: 0px;
  /*width:300px;*/
	height:68px;
  width: 500px;
	font-family:Verdana;
	font-size:56px;
	letter-spacing:0;
  text-shadow: 2px 2px 5px black;
  left: clamp(350px, calc(50% - 250px), 100%);
	top:191px;
}


.infoText{
  color:rgba(0, 0, 0, 1);

	font-family:Arial;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
  font-weight: normal;
  margin: 20px;
  text-align: justify;

  /**/
  width: 670px;
	height: 417px;
	position:absolute;
	top:263px;
  left: clamp(350px, calc(50% - 325px), 100%);

}

.loginBox { /*login box*/
  box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color:#D9D9D9;
  width: 625px;
  height: 225px;
  margin-left: 30px;

  flex-shrink: 0;
  position:absolute;
  top: 420px;
  left: clamp(350px, calc(50% - 313px), 100%);

}

/*
.group1{
  width: 500px;
  left:30%;

}*/


.group2{
  /*position:inherit;
  width: 500px;
  left:30%;
  position: relative;
  top: 75px;*/
  display: inline;

}

.input-fields{
  position:inherit;
  /*width: 500px;*/
  margin: 25px 10px;
  /*left:30%;*/
  top: 25px;
}


.Text{
  display: inline;
  font-family:Arial;
  text-align:center;
  font-size:24px;
  font-weight: bold;

}

.Opcional{
  display: inline;
  font-family:Arial;
  text-align:center;
  font-size:16px;
  /*color: rgb(119, 119, 119);*/

}

.red{
  display: inline;
  font-family:Arial;
  text-align:center;
  font-size:16px;
  color: red;

}

textarea{
  resize: none;
  left: 92px;
  margin: 10px;
  font-family:Arial;
  width: 85%;
}

.input-field{
  /*margin: 10px;*/
  height: 20px;
  width: 35%;
  /*left: 92px;*/
  font-size:16px;
}



.print{
  position: absolute;
  top: 60%;
  left: 75%;

}

svg{
  position:absolute;
  left: 44%;
  top: 32%;

}



button {

  border: none;
  float: right;
  background-color:rgba(62.00000010430813, 179.000004529953, 194.00000363588333, 1);
  color:rgba(255, 255, 255, 1);
  margin: 15px 0px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}

#volver{
  font-size: 16px;
  position: absolute;
  left: 5%;
  top: 60%; /*55%*/

  border: none;
  width:50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image:url(../../../../assets/back-button-Edit4.png);


}


#barcode{

  display: inline;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 5px black;

}





@media only screen and (max-width: 768px) {


  .main{
    /*display: flex;
    height: 100vh;*/
    justify-content: center;
    flex-direction: column;
    position:absolute;
    width: calc(100% - 20px);
    height: 210px;
    left: 0%;
    top: 0%;
    transform: none;
  }


  .subTituloText { /*SubTitulo Texto*/
    color:#0A9217;/*rgba(62.00000010430813, 194.00000363588333, 143.00000667572021, 1);*/
    text-shadow: 2px 2px 5px black;
    margin: 0px;
    /*width:200px;*/
    transform: none;
    width: 100%;
    height:30px;
    font-family:Verdana;
    font-size:28px;
    text-align:center;
    letter-spacing:0;
    transform: none;
    position:absolute;
    left:0%;
    top: 200px;



  }

  .infoText{
    width: auto;
    height: auto;
    position:absolute;
    top: 235px;
    left: 0px;
    margin: 10px;
    margin-top: 15px;
    padding-left: 15px;

    font-family:Arial;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
    font-weight: normal;
    word-break: keep-all;

  }




  .loginBox { /*login box*/
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: calc(100% - 40px);
    height:230px;
    transform: none;
    position:absolute;
    margin: 0px;
    left:20px;
    top: 400px;
  }

  /*
  .group1{
    width: 90%;
    left:30%;

  }
  */


  .input-fields{
    position:inherit;
    display: block;
    width: calc(100% - 40px);
    margin: 10px 10px;
    /*left:30%;*/
    top: 25px;
  }


  .Text{
    display: inline;
    font-family:Arial;
    /*text-align:center;*/
    font-size:20px;

  }

  textarea{
    resize: none;
    left: 92px;
    margin: 10px;
    font-family:Arial;
    width: 85%;
  }

  .input-field{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
    width: 300px;
    /*left: 92px;*/
    font-size:16px;
  }



  .print{
    position:absolute;
    width: 100px;
    left: auto;
    right:0px;
    top: 140px;
    font-size: 16px;
    margin-right: 10px;
    /*top:20%;*/

  }

  #test{
    position:absolute;
    left:30%;
    top:60%;
    display:none;

  }

  #codes{
    position:absolute;
    left: 30%;
    top: 35%;

  }

 svg{
    /*position:inherit;*/
    position:absolute;
    left: 25%;
    top: 30%;
    margin: 15px 0px;


  }

  .space{
    /*position:absolute;*/

    height: 200px;

  }

  /*#barcode0{
    position:relative;
    top: 200px;
    height: 500px;
    display: none;

  }*/


 #barcode{

    display: inline;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 5px black;

  }

  .red{
    display:block;
    font-family:Arial;
    text-align:left;
    font-size:16px;
    color: red;
    position:absolute;
    top: 85px;
    left: 110px;
    width: 100px;

  }




  button {
    border: none;
    float: right;
    background-color:rgba(62.00000010430813, 179.000004529953, 194.00000363588333, 1);
    color:rgba(255, 255, 255, 1);
    margin: 15px 0px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
  }


  #volver{
    font-size: 16px;
    transform: none;
    position:absolute;
    margin-left: 10px;
    left: 0%;
    top: 145px;

    border: none;
    width:36px;
    height: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image:url(../../../../assets/back-button-Edit4.png);
  }







}

