/*.base{
  left: 0vw;
  top: 0vh;
  margin: 0;
  width: 100vw;
  height: 100px;

  background-color:white;

}*/

/**/

::ng-deep .mat-bottom-sheet-container {
  --mat-bottom-sheet-container-background-color: white!important;
  --mat-bottom-sheet-container-text-color: rgba(0, 0, 0, 0.87) !important;
  /*border-bottom-left-radius: 50px !important;
  border-bottom-right-radius: 50px !important;*/
  padding: 25px 2px !important;
  min-width: 95vw !important;
  min-height: 15vh !important;
  margin: 0 auto;
  box-sizing: border-box !important;
  display: block !important;
  /*outline: 2px dashed #F12942 !important;
  outline-width: 3px;
  outline-offset: 5px;
  overflow: auto;*/
}

/**/


.android-prompt {
  position:relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*
  left: 16px;
  margin: -8px -16px;
  margin-left: -20px;
  padding-right: 32px;
  background-color: white;
  */


  .install{
    background-color: #4c8bf5;
    color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px;
    font-family:Arial;
    text-align:center;
    font-size:18px;
    /*min-width: 190px;*/


  }

  .close{
    background-color: white;
    color: #4c8bf5;
    border-radius: 5px;
    border: 5px;
    margin: 5px;
    padding: 5px 10px;
    font-family:Arial;
    text-align:center;
    font-size:18px;
    min-width: 75px;

  }


}


.ios-prompt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .close-ios-inv {
    position: absolute;
    right: 0px;
    top: 0;
  }
  div {
    text-align: center;
    padding: 10px 25px 0;
    mat-icon {
      position: relative;
      top: -7px;
    }
  }
  img {
    display: inline;
  }
}
