
/**/

.installButton {
	border: none;
  /*float: right;*/
  background-color:rgba(62.00000010430813, 179.000004529953, 194.00000363588333, 1);
  box-shadow:2px 2px 5px black;
  color:rgba(255, 255, 255, 1);
  position:absolute;
  left:46%;
	top:76%;

  transform: translate(-50%,0%);
  /*margin: 15px 0px;*/
  padding-bottom: 5px;
  padding-top: 5px;
  width:200px;
	height:60px;

  text-align: center;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}

.install {
  /*visibility: hidden;*/
	color:rgba(0, 0, 0, 1);
	width:375px;
	/*height:30%;*/
	position:absolute;
	top:77%;
  left:50%;/*42%;*/
  transform: translate(-50%,0%);

	font-family:Arial;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
  font-weight: bold;
}

#share {
	width:20px;
	height:23.636362075805664px;
	background-repeat:no-repeat;
	background-size:cover;
  border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}


.infoText{
  color:rgba(0, 0, 0, 1);
	width: 500px;
	height: 115px;;
	position:absolute;
	top:clamp(110px, calc(50% - 58px), 100%);
  left: clamp(10px, calc(50% - 450px), 100%);

	font-family:Arial;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
  font-weight: bold;

}


.footer {
  /*visibility: hidden;*/
	width:700px;
	/*height:30%;*/
	position:absolute;
	bottom:50px;
  left:50%;/*42%;*/
  transform: translate(-50%,0%);
  text-align:center;

}

.footerText {
  /*visibility: hidden;*/
	color:rgba(0, 0, 0, 1);
	/*height:30%;*/
  position: relative;
  display: inline-block;
  text-align:center;

  left:30px;

	font-family:Arial;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}

.Orange{
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}
.Orange:hover{
  text-decoration: underline;
  color: orange;
}

/**/



.loginBox { /*login box*/
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:350px;
	height:260px;
	position:absolute;
	top:clamp( 110px, calc( 50% - 130px), 100% );
  left: clamp( 50%, calc( 50% + 110px), 100% );
}

.loginTile { /*Iniciar Sesion text*/
	color:rgba(0, 0, 0, 1);
  width: 200px;
	position:absolute;
	font-family:Arial;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	top: 10px;
  left: clamp(0%, calc( 50% - 100px ), 100% );
}

.lineBlack { /*linea negra*/
	/*width:33.9%;*/
  width: calc(100% - 1px);
	height:0px;
	position:absolute;
	border:1px solid rgba(0, 0, 0, 1);
	top: 55px;
  left: 0px;
}

.main{
  display: flex;
  flex-direction: column;
  width:100%;
	height:210px;
  position:absolute;
	top:55px;
  left: 0px;
}

.input-fields{
    margin: 5px;
    margin-left: 15px;
}


.input-field{
    width: 100%;
    height: 20px;
}


#email {
	width:300px;
  height: 26px;

}
.userText { /*usuario text*/
	color:rgba(0, 0, 0, 1);
	font-family: Arial;
	font-size:20px;
	letter-spacing:0;
  margin: 5px 0px;

}
#password { /*clave box*/
  width:300px;
  height: 26px;
}
.claveText{ /*clave text*/
	color:rgba(0, 0, 0, 1);
	font-family:Arial;
	font-size:20px;
	letter-spacing:0;
   margin: 5px 0px;
}

button{
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-left: 15px;
    cursor: pointer;

}

.boton { /*boton*/
	background-color:rgba(62.00000010430813, 179.000004529953, 194.00000363588333, 1);
  color:rgba(255, 255, 255, 1);
  width: 80px;
  height: 35px;

  border-width: 0;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
  font-size:16px;
}

.salir{
  cursor: pointer;
  border: none;
  background: none;
  position:absolute;
  width:20%;
	height:10%;
  left: 0%;
  top: 0%
}





@media only screen and (max-width: 768px) {

  .loginBox {
    width:350px;
    height:260px;
    position:absolute;
    top: 180px;
    left: calc( 50% - 175px);
  }


}
