h1, h5, p {
  font-weight: 600;
  word-break: break-all;
  font-family: 'Courier New', Courier, monospace;
}
div {
  text-align: center;
  /*background: #fdfdfd;*/
}
div button {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 4px;
  margin-top: 4px;
}
div buttondisabled {
  cursor: no-drop;
}
div .data {
  background: antiquewhite;
  border-radius: 5px;
}
.origin-overlay .qrcode-tooltip .qrcode-tooltip-temp {
  padding: 5px !important;
}

.screen{

  display: block;
  height: auto;
  width: 418px;
  margin-left: auto;
  margin-right: auto;

}

.container{
  /*top: 25%;
  width: 85%;
  position: absolute;
  left: 15%;*/

  width: calc(100% - 320px);
  position:absolute;
  top: 238px;
  left: 320px;

}

.infoText{
  color:rgba(0, 0, 0, 1);

	font-family:Arial;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
  font-weight: normal;
  margin: 20px;
  text-align: justify;

  /**/
  width: 670px;
	height: auto;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
	/*position:absolute;
	top:263px;
  left: clamp(350px, calc(50% - 325px), 100%);*/

}


@media only screen and (max-width: 768px) {
  h1, h5, p {
    font-weight: 600;
    word-break: break-all;
    font-family: 'Courier New', Courier, monospace;
  }
  div {
    text-align: center;
    /*background: #fdfdfd;*/
  }
  div button {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 4px;
    margin-top: 10px;
  }
  div buttondisabled {
    cursor: no-drop;
  }
  div .data {
    background: antiquewhite;
    border-radius: 5px;
  }
  .origin-overlay .qrcode-tooltip .qrcode-tooltip-temp {
    padding: 5px !important;
  }

  .screen{

    display: block;
    height: 80%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

  }

  .container{
    top: 28%;
    width: 100%;
    position: absolute;
    left: 0%;

  }

  .infoText{
    width: auto;
    height: auto;
    margin: 5px;
    margin-top: 15px;
    padding-left: 5px;

    font-family:Arial;
    text-align:justify;
    font-size:14px;
    letter-spacing:0;
    font-weight: normal;
    word-break: keep-all;

  }


}

/*
@media only screen and (min-width: 1536px) {
  .screen{

    display: block;
    height: 40%;
    width:  40%;
    margin-left: auto;
    margin-right: auto;

  }

}
*/
