<div class="container">

  <!-- ngx-scanner-qrcode -->
  <ngx-scanner-qrcode class="screen" #action="scanner" [config]="config" (event)="onEvent($event, action)"></ngx-scanner-qrcode>


   <!-- data  -->
  <!-- <p class="data">{{ (action.data | async | json) }}</p> -->

  <!-- loading -->
  <p *ngIf="action.isLoading">⌛ Loading...</p>

  <!-- start/stop -->

  <button class="btn" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart" [disabled]="action.isLoading" (click)="handle(action, action.isStart ? 'stop' : 'start')">

    <img [src]="action.isStart ? 'https://id1945.github.io/images/svg/camera-off.svg' : 'https://id1945.github.io/images/svg/camera-on.svg'" width="30px"/>

  </button>

  <p class="infoText">
    Utilice esta página para escanear el código de barras de cualquier Muestra de Campo.
    Al escanear, el sistema recuperará de inmediato el registro digital completo de la muestra,
    permitiéndole consultar su estado, sus detalles de procedencia (Unidad de Producción)
    o realizar cualquier actualización necesaria en tiempo real. Esta función elimina las búsquedas
    manuales y garantiza una trazabilidad de datos precisa y eficiente.

  </p>




</div>
