<p>credits works!</p>

<div class="base">

  <div class="install">
    <h2><b>Creditos:</b></h2>
    <p>
      <b>Autor: </b>
      <span>Ioannis Morakis - m.yannis22&#64;gmail.com</span>
    </p>
    <p>
      <b>Tutora: </b>
      <span>Profa. Yosly Hernández Bieliukas</span>
    </p>

    <br>

    <h2><b>Objetivo:</b></h2>
    <p>
      <span> Desarrollar una Aplicación Web para la gestión de muestras de campo de la Clínica de Enfermedades de Plantas de la Universidad Central de Venezuela</span>
    </p>

    <br>
    <br>

    <p>
      Universidad Central de Venezuela - Escuela de Computación
    </p>

    <!--<div  class="logoUcv"></div>-->
    <div  class="logoCiens"></div>

    <br>
    <br>





  </div>






</div>

<p class="footer">
  <span class="Orange" (click)="Login()">Volver al Inicio</span>
</p>
