<p>user-edit works!</p>
<h1 class="subTituloText">Editar Usuario</h1>

<div  class="loginBox">

  <form #loginForm="ngForm" (ngSubmit)="handleRegister(loginForm.value)">
    <div class="main">



      <div class="input-fields">
        <span  class="Text">Email:</span>
        <input name="email" ngModel placeholder="Email" id="emai" type="email" class="input-field" [(ngModel)]= "item.email" />
      </div>


      <div class="input-fields">
        <span  class="Text">Nombre:</span>
        <input name="nombre" ngModel placeholder="Nombre" id="nombre" type="nombre" class="input-field" [(ngModel)]= "item.nombre" />
      </div>


      <div class="input-fields">
        <span  class="Text">Role:</span>
        <select list="roles" name="role" ngModel placeholder="Roles" id="role" type="role" class="input-field" [(ngModel)]= "item.role" >
          <option value="" disabled selected>Seleccione un Rol del usuario</option>
          <option value="Investigador"> Investigador </option>
          <option value="Cliente"> Cliente </option>
          <option value="Administrador"> Administrador </option>
        </select>
      </div>


      <div class="input-fields">
        <span  class="Text">Clave:</span>
        <input name="password" ngModel placeholder="Password" id="password" type="password" class="input-field" [(ngModel)]= "item.password" />
      </div>

      <div class="input-fields">
        <span  class="clave2Text">Confirmar Clave:</span>
        <input name="confirmpassword" ngModel placeholder="Confirmar Clave" id="confirmpassword" type="password" class="input-field"   />
      </div>




      <button class="boton">Guardar</button>

      <button type="button" class="botonrojo" (click)="deleteData(item.id)">
        Eliminar
      </button>

      <button type="button" class="boton" id="volver" (click)="backPage()"></button>

    </div>


  </form>
</div>

