<h1 class="subTituloText"> ¡Bienvenido!</h1>

<div class="rectangle">
  <p class="infoText">
    Su función principal como Administrador es mantener la integridad y seguridad del
    sistema mediante la gestión del acceso de usuarios. El Módulo de Administrador le
    permite crear sin esfuerzo nuevas cuentas de usuario, asignar roles específicos como
    Investigador o Cliente, y actualizar o eliminar permanentemente usuarios existentes.
    Este control garantiza que solo el personal autorizado tenga el acceso apropiado, lo
    cual es crucial para administrar la seguridad general y la eficiencia operativa de la
    aplicación.
  </p>
</div>

