.navbar { /*Titulo box*/
	background-color:#0A9217;/*rgba(62.00000010430813, 194.00000363588333, 143.00000667572021, 1);*/
	width:100%;
  min-width: 1024px;
	height:120px;
  position:absolute;
	left:0%; /*20%;*/
	top:0%;
}

.tituloBox { /*Titulo box*/
	width:100%;
	height:120px;
	position:absolute;
	left:0%;
	top:0%;
  display: flex; /* Enables Flexbox */
  flex-direction: column; /* Stacks children vertically */
  justify-content: center; /* Centers items along the main axis (vertically in this case) */
  align-items: center; /* Centers items along the cross axis (horizontally in this case) */
  font-size:10px;

}


.tituloText { /*Titulo Texto*/
	color:rgba(255, 255, 255, 1);
	display: block;
  /*line-height: 1.2em;*/
	font-family:Verdana;
  font-weight: bold;
	font-size:40px;
	letter-spacing:0;

  /*position:absolute;
  left:40%;*/
}



.tituloSubText { /*Titulo Texto*/
	color:rgba(255, 255, 255, 1);
	display: block;
  /*line-height: 1.2em;*/
	font-family:Verdana;
  font-weight: bold;
	font-size:20px;
	letter-spacing:0;

}


.logoUcv { /*Logo Ucv*/
	width:80px;
	height:80px;
	position:absolute;
	right: 40px;
	top: 20px;
	background-image:url(../assets/logo_ucv_bg2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.logoCiens { /*Logo Ucv*/
	width:80px;
	height:80px;
  display: inline-block;
  position:absolute;
  right: 160px;
  top:20px;
  /*margin-left: 60px;*/

	background-image:url(../assets/logoCiens.png);
	background-repeat:no-repeat;
	background-size:contain;
}
.logoAgro { /*Logo Ciens*/ /*Logo Agro*/
	width:120px;
	height:80px;
	position:absolute;
	left: 90px;
	top: 20px;
	background-image:url(../assets/Logo-Agronomia-Stroke.png);
	background-repeat:no-repeat;
	background-size:cover;
}


.homeBox {/*Home box*/
	width:25%;
	height:10%;
	position:absolute;
  cursor: pointer;
	left:75%;/*0px;*/
	top:0%;
	text-align:center;
}
.homeText { /*Home text*/
	color:rgba(255, 255, 255, 1);
	display: inline-block;
  	vertical-align: middle;
  	line-height: 2.8em;
	font-family:Verdana;
	font-size:32px;
	letter-spacing:0;
	position:absolute;
  right:0.75em;
	top:30%;

}
.UserLogo { /*Home text*/
  position:absolute;

  top: 1.85em;
  right:10.94em;

  width:46px;
  height:46px;
  text-align:center;
  background-image:url(../assets/LoginIconWhite.png);
  background-repeat:no-repeat;
  background-size:contain;

  /*display: none;*/

}






@media only screen and (max-width: 768px) {

  .navbar { /*Titulo box*/
    height: 110px;
    min-width: 0px;
  }

  .logoUcv { /*Logo Ucv*/
    width:30px;
    height:30px;
    position:absolute;
    top: 15px;
    right: 5px;
    left: auto;
    background-image:url(../assets/logo_ucv_Small.png);
    background-repeat:no-repeat;
    background-size:cover;
  }
  .logoCiens { /*Logo Ciens*/
    width:30px;
    height:30px;
    position:absolute;
    top: 60px;
    right: 5px;
    left: auto;
    background-image:url(../assets/logoCiens-Small.png);
    background-repeat:no-repeat;
    background-size:cover;
  }
  .logoAgro { /*Logo Ciens*/
    width:52px;
    height:35px;
    position:absolute;
    top: 38px;
    right: auto;
    left: 5px;
    background-image:url(../assets/Logo-Agronomia-Stroke-Small.png);
    background-repeat:no-repeat;
    background-size:contain;
  }

  .tituloBox { /*Titulo box*/
    width:259px;
    height:110px;
    position:absolute;
    left: clamp(57px, calc(50% - 129px), 100%);
    top:0px;
    text-align:center;
  }

  .tituloText { /*Titulo Texto*/
    color:rgba(255, 255, 255, 1);
    line-height: 1;
    display: inline-block;
      vertical-align: middle;
    font-family:Verdana;
    font-size:26px;
    letter-spacing:0px;
    padding-bottom:10px;


  }

  .tituloSubText {
    color: rgba(255, 255, 255, 1);
    font-family: Verdana;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: normal;
    display: block;
    text-align: center;
    padding-bottom:10px ;

  }

  .space{
    display: none;
  }

  .homeLogo {
    display: none;
  }







}



