

<!--
<router-outlet></router-outlet>
 <mat-toolbar color="primary"> Angular Image Cropper </mat-toolbar>

    <mat-form-field>
      <input
        ngModel
        matInput
        placeholder="Enter image height..."
      />
    </mat-form-field>

    <mat-form-field>
      <input
        ngModel
        matInput
        placeholder="Enter image width..."
      />
    </mat-form-field>


    <div class="container">
      <app-image-control
      [width]="0"
      [height]="0"
      path="/profile-images/my-image"

      />


    </div>
-->

<router-outlet></router-outlet>
