<div  class="navbar">



  <div  class="tituloBox">

   <span  class="tituloText" >Clínica de Plantas </span>
   <br class="space"/>
   <span  class="tituloSubText">Gestión de Muestras</span>

  </div>

  <div  class="logoUcv"></div>
  <div class="logoCiens"></div>
  <div  class="logoAgro"></div>



</div>

<!--
<mat-toolbar color="primary">
  <span>Gestión de Muestras</span>
  <span class="spacer"></span>
  <mat-icon [style.color]="(dataSync.isSyncing | async) ? '#00ff00' : 'white'">
    sync
  </mat-icon>
</mat-toolbar>
-->


<router-outlet></router-outlet>
