.list{
  position: absolute;
  left:33%;
	top:35%;
}

td {
  border: 1px solid #000;
  background: #D9D9D9;
  padding: 10px;
}

th{
  border: 1px solid #000;
  background: #AAAAAA;
  padding: 10px;
}

table {
  border-collapse: collapse;
}

button {
  /*box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);*/
  border: none;
  background-color:rgba(62.00000010430813, 179.000004529953, 194.00000363588333, 1);
  color:rgba(255, 255, 255, 1);
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
  width: 100px;
  height: 40px;
  margin: 10px;
}

.subTituloText { /*SubTitulo Texto*/
	color:#0A9217;
	position:absolute;
  width:70%;
	height:10%;
  	vertical-align: middle;
  	line-height: 250%;
	font-family:Verdana;
  text-align:center;
	font-size:48px;
	letter-spacing:0;
  left:20%;
	top:15%;
}




.main{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-fields{
  margin: 10px;
}


.input-field{
  width: 300px;
  height: 20px;
}

button{
  width: 100px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}



/**/

/*.navbar2Box{
  width: 320px;
  height: 90%;
  background: #ffffff;
  box-shadow: 0px 0px 6px 10px rgba(0, 0, 0, 0.25);

  position:absolute;
  left:0%;
  top:10%;
}*/

.navbar2Box{
  background: #ffffff;
  box-shadow: 0px 0px 6px 10px rgba(0, 0, 0, 0.25);

  height: 100vh;
  width: 320px;
  position: absolute;
  top: 0;
  left: 0;


  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15em;

  z-index: -10;
}

.navbar2Text{
  /*background: #3EC28F;*/
  height: 4.5%;
  color: #000000;
  font-size: 16px;
  font-family: Verdana;
  font-weight: 600;
  word-wrap: break-word;
  /*text-align: center;*/
  display: inline-block;
  	vertical-align: middle;
  	line-height: 240%;
  /*border-top: 4px solid white;*/
  padding-top: 5px;
  padding-left: 20px;

}










#HogarText{
  cursor: pointer;
  width: 300;
  position:absolute;
  left:0%;
  top: 128px;

}

#UsersText{
  cursor: pointer;
  width: 300;
  position:absolute;
  left:0%;
  top: 192px;

}

#UnidadText{
  cursor: pointer;
  width: 300;
  position:absolute;
  left:0%;
  top: 256px;
}



#MuestrasText{
  cursor: pointer;
  width: 300;
  position:absolute;
  left:0%;
  top:320px;

}

#ResultText{
  cursor: pointer;
  width: 300;
  position:absolute;
  left:0%;
  top:384px;

}


#ClientesText{
  cursor: pointer;
  width: 300;
  position:absolute;
  left:0%;
  top:448px;
}

#CodigoText{
  cursor: pointer;
  width: 300;
  position:absolute;
  left:0%;
  top: 512px;

}

#ScanText{
  cursor: pointer;
  width: 300;
  position:absolute;
  left:0%;
  top:576px;

}

#cerrarText{
  cursor: pointer;
  width: 300;
  position:absolute;
  left:0%;
  top:640px;

}



.salir{
  cursor: pointer;
  border: none;
  background: none;
  position:absolute;
  width:20%;
	height:10%;
  left: 0%;
  top: 0%
}


img{
  position: relative;
  top:20px;
}

.break{
  display: none;
}

.mobile-slider-nav {
  display: none;
}




@media only screen and (max-width: 768px) {




  .navbar2 {
    width: 100%;
    display: none;

  }



  .navbar2Box{
    width: 100%;
    height: 66px;
    background: #ffffff;
    /*border-top: 2px solid white;*/
    box-shadow: 0px 0px 6px 10px rgba(0, 0, 0, 0.25);
    position:absolute;
    left:0%;
    top:6.75em;
    padding-top: 0em;

    /* Enable horizontal scrolling and hide scrollbar */
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .navbar2Text{
    /*background: #3EC28F;*/
    height: 28px;
    color: #000000;
    font-size: 8px;
    font-family: Verdana;
    font-weight: 600;
    word-wrap: break-word;
    text-align: center;
    display: inline-block;
      vertical-align: middle;
      line-height: 1.6; /*240%;*/
    /*border-top: 2px solid white;*/

    padding-top: 7px;
    padding-left: 0px;

  }

  .center{
    position: relative;
    top:18%;

  }


  #cerrarText{
    cursor: pointer;
    width: 10%; /*15%;*/
    position:absolute;
    left:0%;
    top: 110px;
    padding-left: 3%;
    border-right: 2px solid white;
  }


  #UnidadText{
    cursor: pointer;
    width: 15%;
    position:absolute;
    left:15%;/*32%;*/
    top: 110px;
    border-right: 2px solid white;

  }

  #MuestrasText{
    cursor: pointer;
    width: 15%; /*17%;*/
    position:absolute;
    left:30%;/*49%;*/
    top: 110px;
    border-right: 2px solid white;
  }

  #ResultText{
    cursor: pointer;
    width: 12%;
    position:absolute;
    left:45%;
    top: 110px;

  }


  #UsersText{
    cursor: pointer;
    width: 50px;
    left: 120%;
    top: 110px;
    border-right: 2px solid white;

  }

  #ClientesText{
    cursor: pointer;
    width: 50px;
    position:absolute;
    left: 60%;
    top: 110px;
    border-right: 2px solid white;
  }



  #CodigoText{
    cursor: pointer;
    width: 10%;
    position:absolute;
    left:70%;
    top:13.5em;
    padding-left: 3%;

  }
  #ScanText{
    cursor: pointer;
    width: 10%;
    position:absolute;
    left:87%;
    top: 13.5em;

  }



 .salir{
    cursor: pointer;
    border: none;
    background: none;
    position:absolute;
    width:20%;
    height:15%;
    left: 0%;
    top: 0%
  }



  img{
    position: relative;
    top:0px;
    width:20px;
    height:20px;

  }

 .break{
    display: inline;
  }





  .mobile-slider-nav {
    display: inline;
    position: absolute;
    top: 110px;
    left: 0;

    height:  55px;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    z-index: 40;
    padding-bottom: 8px; /* Vertical padding */

    /* Enable horizontal scrolling and hide scrollbar */
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .mobile-menu-container {
    display: flex;
    /* Ensures items stay on one line for sliding effect */
    white-space: nowrap;
    padding: 0px 0.5rem; /* Horizontal padding for the container */
  }

  .mobile-slider-nav a {
    display: inline-block; /* Essential for flex-nowrap to work with padding */
      vertical-align: middle;
      line-height: 1.6;
    color: #000000;
    font-size: 8px;
    font-family: Verdana;
    font-weight: 600;
    word-wrap: break-word;
    text-align: center;
    display: inline-block;

    flex-shrink: 0;
    text-decoration: none;
    font-weight: 600;
    padding: 0px 16px;
    padding-top: 8px;
    margin-right: 8px; /* Spacing between buttons */
    border-radius: 9999px; /* Full rounded corners */




  }




}
