<p>admin works!</p>

<div class="navbar2">
  <div class="navbar2Box" ></div>

  <div class="navbar2Text" id="cerrarText" (click)="handleSignOut()">
    <img src="../../assets/logout-2.png" alt="Out" width="50" height="50">
    <br>
    Cerrar Sesión
  </div>

  <div class="navbar2Text" id="ClientesText"  (click)="Users()">
    <img src="../../assets/Users.png" alt="Users" width="50" height="50">
    <br>
    Usuarios
  </div>



</div>





<div  class="navbar">


  <div  class="tituloBox">
    <span  class="tituloText">Gestion de Muestras</span>

  </div>
  <div  class="logoAgro"></div>
  <div  class="logoUcv"></div>



  <div  class="homeBox" >
    <div  class="UserLogo"></div>

    <span  class="homeText">Administador</span>
    <div  class="homeLogo"></div>
  </div>

</div>

<router-outlet></router-outlet>

