<h1 class="subTituloText"> ¡Bienvenido!</h1>

<div class="rectangle">
  <p class="infoText">
    Su panel de control está diseñado para proporcionarle acceso seguro e instantáneo al estado
    de sus proyectos de investigación. Como Cliente, su función principal es monitorear la
    información asociada con sus muestras y unidades de producción. Puede visualizar fácilmente
    los datos de sus Unidades de Producción y de todas las Muestras asociadas en un formato claro
    y de solo lectura. Esto asegura que usted tenga un registro preciso y confiable de los detalles
    de las muestras y el progreso del análisis que se está realizando en el laboratorio, manteniéndole
    informado en cada paso del proceso.
  </p>
</div>
