
<div class="navbar2Box"></div>

<div class="navbar2">

  <div class="navbar2Text" id="UnidadText" (click)="Unidades()">
    <img src="../../assets/shovelResize.png" alt="Shovel" width="50" height="50">
    Unidades de Producción
  </div>

  <div class="navbar2Text" id="MuestrasText" (click)="Muestras()">
    <img src="../../assets/prueba-de-sangre-Resize.png" alt="Shovel" width="50" height="50">
    Muestras
  </div>

  <div class="navbar2Text" id="ResultText" (click)="Resultados()">
    <img src="../../assets/ResultadosResize.png" alt="Shovel" width="50" height="50">
    Resultados
  </div>

  <div class="navbar2Text" id="ClientesText" (click)="Clientes()">
    <img src="../../assets/ClientesResize.png" alt="Shovel" width="50" height="50">
    Clientes
  </div>

  <div class="navbar2Text" id="CodigoText" (click)="Codigo()">
    <img src="../../assets/BarcodeAddResize.png" alt="Shovel" width="50" height="50">
    Generar Codigo
  </div>

  <div class="navbar2Text" id="ScanText" (click)="Scan()">
    <img src="../../assets/ScanResize.png" alt="Shovel" width="50" height="50">
    Escanear
  </div>

  <div class="navbar2Text" id="cerrarText" (click)="handleSignOut()">
    <img src="../../assets/logout-Resize.png" alt="Out" width="50" height="50">
    Cerrar Sesión
  </div>


</div>


<nav class="mobile-slider-nav">
  <div class="mobile-menu-container">

    <a  (click)="Unidades()">
      <img src="../../assets/home.png" alt="Out" width="50" height="50">
      <br class="break">
      Hogar
    </a>

    <a h (click)="Clientes()">
      <img src="../../assets/ClientesResize.png" alt="Shovel" width="50" height="50">
      <br class="break">
      Clientes
    </a>
    <a (click)="Unidades()">
      <img src="../../assets/shovelResize.png" alt="Shovel" width="50" height="50">
      <br class="break">
      Unidades de <br class="break"> Producción
    </a>
    <a  (click)="Muestras()">
      <img src="../../assets/prueba-de-sangre-Resize.png" alt="Shovel" width="50" height="50">
      <br class="break">
      Muestras
    </a>
    <a (click)="Resultados()">
      <img src="../../assets/ResultadosResize.png" alt="Shovel" width="50" height="50">
      <br class="break">
      Resultados
    </a>
    <a  (click)="Codigo()">
      <img src="../../assets/BarcodeAddResize.png" alt="Shovel" width="50" height="50">
      <br class="break">
      Generar <br class="break"> Codigo
    </a>
    <a (click)="Scan()">
      <img src="../../assets/ScanResize.png" alt="Shovel" width="50" height="50">
      <br class="break">
      Escanear
    </a>

    <a  (click)="handleSignOut()">
      <img src="../../assets/logout-Resize.png" alt="Out" width="50" height="50">
      <br class="break">
      Cerrar Sesión
    </a>


  </div>

</nav>




<router-outlet></router-outlet>
