
<nav class="slider-nav">
  <div class="menu-container">

    <a  (click)="Home()">
      <img src="../../assets/home.png" alt="Out" width="50" height="50">
      <br class="break">
      Hogar
    </a>

    <a h (click)="Clientes()">
      <img src="../../assets/ClientesResize.png" alt="Shovel" width="50" height="50">
      <br class="break">
      Clientes
    </a>
    <a (click)="Unidades()">
      <img src="../../assets/shovelResize.png" alt="Shovel" width="50" height="50">
      <br class="break">
      <span>Unidades de <br class="break"> Producción</span>
    </a>
    <a  (click)="Muestras()">
      <img src="../../assets/prueba-de-sangre-Resize.png" alt="Shovel" width="50" height="50">
      <br class="break">
      Muestras
    </a>
    <a (click)="Resultados()">
      <img src="../../assets/ResultadosResize.png" alt="Shovel" width="50" height="50">
      <br class="break">
      Resultados
    </a>
    <a  (click)="Codigo()">
      <img src="../../assets/BarcodeAddResize.png" alt="Shovel" width="50" height="50">
      <br class="break">
      Generar <br class="break"> Codigo
    </a>
    <a (click)="Scan()">
      <img src="../../assets/ScanResize.png" alt="Shovel" width="50" height="50">
      <br class="break">
      Escanear
    </a>

    <a  (click)="handleSignOut()">
      <img src="../../assets/logout-Resize.png" alt="Out" width="50" height="50">
      <br class="break">
      Cerrar Sesión
    </a>


  </div>

</nav>




<router-outlet></router-outlet>
