.main{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-fields{
  margin: 10px;
}


.input-field{
  width: 300px;
  height: 20px;
}

button{
  width: 100px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}




/**/
.navbar2 {
  height: 100vh;
  width: 320px;
  position: absolute;/*fixed;*/
  top: 0;
  left: 0;
}


.navbar2Box{
  background: #ffffff;
  box-shadow: 0px 0px 6px 10px rgba(0, 0, 0, 0.25);

  height: 100vh;
  width: 320px;
  position: absolute;
  top: 0;
  left: 0;


  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20em;

  z-index: -10;
}

.navbar2Text{
  height: 4.5%;
  color: #000000;
  font-size: 16px;
  font-family: Verdana;
  font-weight: 600;
  word-wrap: break-word;
  text-align: center;
  padding-top: 5px;
  padding-left: 20px;
}

#HogarText{
  cursor: pointer;
  width: 300;
  position:absolute;
  left:0%;
  top: 128px;

}

#UnidadText{
  cursor: pointer;
  width: 300;
  position:absolute;
  left:0%;
  top: 192px;

}

#MuestrasText{
  cursor: pointer;
  width: 300;
  position:absolute;
  left:0%;
  top: 256px;
}



#ResultText{
  cursor: pointer;
  width: 300;
  position:absolute;
  left:0%;
  top:320px;

}

#ClientesText{
  cursor: pointer;
  width: 300;
  position:absolute;
  left:0%;
  top:384px;

}


#CodigoText{
  cursor: pointer;
  width: 300;
  position:absolute;
  left:0%;
  top:448px;
}

#ScanText{
  cursor: pointer;
  width: 300;
  position:absolute;
  left:0%;
  top: 512px;

}

#cerrarText{
  cursor: pointer;
  width: 300;
  position:absolute;
  left:0%;
  top:576px;

}




.salir{
  cursor: pointer;
  border: none;
  background: none;
  position:absolute;
  width:20%;
	height:10%;
  left: 0%;
  top: 0%
}




img{
  position: relative;
  top:20px;
}

.mobile-slider-nav {
  display: none;
}






@media only screen and (max-width: 768px) {


/**/

  .navbar2 {
    width: 100%;
    display: none;

  }



  .navbar2Box{
    width: 100%;
    height: 66px;
    background: #ffffff;
    /*border-top: 2px solid white;*/
    box-shadow: 0px 0px 6px 10px rgba(0, 0, 0, 0.25);
    position:absolute;
    left:0%;
    top: 110px;
    padding-top: 0em;
    display: none;
  }

  .navbar2Text{
    /*background: #3EC28F;*/
    height: 28px;
    color: #000000;
    font-size: 8px;
    font-family: Verdana;
    font-weight: 600;
    word-wrap: break-word;
    text-align: center;
    display: inline-block;
      vertical-align: middle;
      line-height: 1.6; /*240%;*/
    /*border-top: 2px solid white;*/
    padding-top: 7px;
    padding-left: 0px;

  }

  .center{
    position: relative;
    top:18%;

  }





  #cerrarText{
    cursor: pointer;
    width: 10%; /*15%;*/
    position:absolute;
    left:0%;
    top:110px;
    padding-left: 3%;
    border-right: 2px solid white;
  }


  #UnidadText{
    cursor: pointer;
    width: 15%;
    position:absolute;
    left:15%;/*32%;*/
    top:110px;
    border-right: 2px solid white;

  }

  #MuestrasText{
    cursor: pointer;
    width: 15%; /*17%;*/
    position:absolute;
    left:30%;/*49%;*/
    top:110px;
    border-right: 2px solid white;
  }

  #ResultText{
    cursor: pointer;
    width: 14%;/*17%;*/
    position:absolute;
    left:44%;
    top:110px;

  }

  #ClientesText{
    cursor: pointer;
    width: 13%;
    position:absolute;
    left:58%;
    top:110px;
    border-right: 2px solid white;
  }


  #CodigoText{
    cursor: pointer;
    width: 10%;
    position:absolute;
    left:70%;
    top:110px;
    padding-left: 3%;

  }
  #ScanText{
    cursor: pointer;
    width: 12%;
    position:absolute;
    left:85%;
    top: 110px;

  }







.salir{
    cursor: pointer;
    border: none;
    background: none;
    position:absolute;
    width:20%;
    height:15%;
    left: 0%;
    top: 0%
  }



  img{
    position: relative;
    top:0px;
    width:20px;
    height:20px;

  }

  br{
    display: inline;
  }

  .mobile-slider-nav {
    display: inline;
    position: absolute;
    top: 110px;
    left: 0;

    height:  55px;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    z-index: 40;
    padding-bottom: 8px; /* Vertical padding */

    /* Enable horizontal scrolling and hide scrollbar */
    overflow-x: scroll;
    overflow-y: hidden;
    /*-ms-overflow-style: none;
    scrollbar-width: none;*/
  }

  .mobile-menu-container {
    display: flex;
    /* Ensures items stay on one line for sliding effect */
    white-space: nowrap;
    padding: 0px 0.5rem; /* Horizontal padding for the container */
  }

  .mobile-slider-nav a {
    display: inline-block; /* Essential for flex-nowrap to work with padding */
      vertical-align: middle;
      line-height: 1.6;
    color: #000000;
    font-size: 8px;
    font-family: Verdana;
    font-weight: 600;
    word-wrap: break-word;
    text-align: center;
    display: inline-block;

    flex-shrink: 0;
    text-decoration: none;
    font-weight: 600;
    padding: 0px 16px;
    padding-top: 8px;
    margin-right: 8px; /* Spacing between buttons */
    border-radius: 9999px; /* Full rounded corners */




  }




}
