.main{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-fields{
  margin: 10px;
}


.input-field{
  width: 300px;
  height: 20px;
}

button{
  width: 100px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}




/**/
.navbar2 {
  height: 100vh;
  width: 320px;
  position: absolute;/*fixed;*/
  top: 0;
  left: 0;
}


.navbar2Box{
  background: #ffffff;
  box-shadow: 0px 0px 6px 10px rgba(0, 0, 0, 0.25);

  height: 100vh;
  width: 320px;
  position: absolute;
  top: 0;
  left: 0;


  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15em;

  z-index: -10;
}

.navbar2Text{
  height: 4.5%;
  color: #000000;
  font-size: 16px;
  font-family: Verdana;
  font-weight: 600;
  word-wrap: break-word;
  text-align: center;
  padding-top: 5px;
  padding-left: 20px;
}

#UnidadText{
  cursor: pointer;
  width: 300;
  position:absolute;
  left:0%;
  top: 7em;

}

#MuestrasText{
  cursor: pointer;
  width: 300;
  position:absolute;
  left:0%;
  top: 12em;
}



#ResultText{
  cursor: pointer;
  width: 300;/*17%;*/
  position:absolute;
  left:0%;
  top:16em;

}

#ClientesText{
  cursor: pointer;
  width: 300; /*17%;*/
  position:absolute;
  left:0%;/*80%;/*83%;*/
  top:20em;

}


#CodigoText{
  cursor: pointer;
  width: 300; /*15%;*/
  position:absolute;
  left:0%;
  top:24em;
  /*border-right: 4px solid white;*/
}

#ScanText{
  cursor: pointer;
  width: 300; /*17%;*/
  position:absolute;
  left:0%;/*20%;/*32%;*/
  top: 28em;
  /*border-right: 4px solid white;*/

}

#cerrarText{
  cursor: pointer;
  width: 300;/*17%;*/
  position:absolute;
  left:0%;/*60%; /*66%;*/
  top:32em;
 /* border-right: 4px solid white;*/

}




.salir{
  cursor: pointer;
  border: none;
  background: none;
  position:absolute;
  width:20%;
	height:10%;
  left: 0%;
  top: 0%
}




img{
  position: relative;
  top:20px;
}





@media only screen and (max-width: 768px) {


.navbar{
    width: 100%;
    position: absolute;
  }


.homeBox {
    border-right: 4px solid white;
    width:20%;
    height:6.75em;
    position:absolute;
    left:0px;
    top:0%;

  }
  .homeText {

    display: none;

  }


  .UserLogo { /*Home text*/
    position:absolute;

    top:2.2em;
    /*right:175px;*/
    left:25%;

    width:36px;
    height:36px;
    text-align:center;
    background-image:url(../../assets/userWhite.png);
    background-repeat:no-repeat;
    background-size:cover;

    /*display: none;*/

  }

/**/

  .logoCiens { /*Logo Ciens*/
    width:25px;
    height:25px;
    position:absolute;
    top: 80px;
    left:clamp(calc(20% + 50px), calc(60% - 16px), 100%);
    background-image:url(../../assets/logoCiens.png);
    background-repeat:no-repeat;
    background-size:cover;
  }
  .logoAgro { /*Logo Ciens*/
    width:40px;
    height:30px;
    position:absolute;
    left: calc(100% - 50px);
    top: 77px;
    background-image:url(../../assets/Logo-Agronomia2.png);
    background-repeat:no-repeat;
    background-size:cover;
  }

  .logoUcv { /*Logo Ucv*/
    width:30px;
    height:30px;
    position:absolute;
    left: 23%;
    top: 75px;
    background-image:url(../../assets/logo_ucv_bg2_1.png);
    background-repeat:no-repeat;
    background-size:cover;
  }

  .tituloBox { /*Titulo box*/
    width:80%;
    height:80px;
    position:absolute;
    left:20%;

    top:0%;
    text-align:center;
  }

  .tituloText { /*Titulo Texto*/
    color:rgba(255, 255, 255, 1);
    line-height: 1;
    display: inline-block;
      vertical-align: middle;
      /*line-height: 250%;*/
    font-family:Verdana;
    font-size:28px;
    letter-spacing:0px;
    padding-top:5px ;

  }

  .tituloSubText {
    /* Simplified styles to work with flexbox */
    color: rgba(255, 255, 255, 1);
    font-family: Verdana;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: normal; /* Use normal to let flexbox handle spacing */
    display: block;
    text-align: center; /* Ensure horizontal alignment */
    padding-top:10px ;

  }

  .space{

    display: none;

  }


  .homeLogo { /*Home text*/


    display: none;

  }


/**/

.navbar2 {
  width: 100%;

}



  .navbar2Box{
    width: 100%;
    height: 66px;
    background: #ffffff;
    /*border-top: 2px solid white;*/
    box-shadow: 0px 0px 6px 10px rgba(0, 0, 0, 0.25);
    position:absolute;
    left:0%;
    top: 110px;
    padding-top: 0em;
  }

  .navbar2Text{
    /*background: #3EC28F;*/
    height: 28px;
    color: #000000;
    font-size: 8px;
    font-family: Verdana;
    font-weight: 600;
    word-wrap: break-word;
    text-align: center;
    display: inline-block;
      vertical-align: middle;
      line-height: 1.6; /*240%;*/
    /*border-top: 2px solid white;*/
    padding-top: 7px;
    padding-left: 0px;

  }

  .center{
    position: relative;
    top:18%;

  }





  #cerrarText{
    cursor: pointer;
    width: 10%; /*15%;*/
    position:absolute;
    left:0%;
    top:110px;
    padding-left: 3%;
    border-right: 2px solid white;
  }


  #UnidadText{
    cursor: pointer;
    width: 15%;
    position:absolute;
    left:15%;/*32%;*/
    top:110px;
    border-right: 2px solid white;

  }

  #MuestrasText{
    cursor: pointer;
    width: 15%; /*17%;*/
    position:absolute;
    left:30%;/*49%;*/
    top:110px;
    border-right: 2px solid white;
  }

  #ResultText{
    cursor: pointer;
    width: 14%;/*17%;*/
    position:absolute;
    left:44%;
    top:110px;

  }

  #ClientesText{
    cursor: pointer;
    width: 13%;
    position:absolute;
    left:58%;
    top:110px;
    border-right: 2px solid white;
  }


  #CodigoText{
    cursor: pointer;
    width: 10%;
    position:absolute;
    left:70%;
    top:110px;
    padding-left: 3%;

  }
  #ScanText{
    cursor: pointer;
    width: 12%;
    position:absolute;
    left:85%;
    top: 110px;

  }







.salir{
    cursor: pointer;
    border: none;
    background: none;
    position:absolute;
    width:20%;
    height:15%;
    left: 0%;
    top: 0%
  }



  img{
    position: relative;
    top:0px;
    width:20px;
    height:20px;

  }

  br{
    display: inline;
  }



}
