
#barcode1{
  position:absolute;
  top: 50px;
  left: 200px;
}

#barcode2{
  position:absolute;
  top: 220px;
  left: 200px;
}

#barcode3{
  position:absolute;
  top: 390px;
  left: 200px;
}


#barcode4{
  position:absolute;
  top: 560px;
  left: 200px;
}

#barcode5{
  position:absolute;
  top: 730px;
  left: 200px;
}


