<h1 class="subTituloText"> ¡Bienvenido!</h1>

<div class="rectangle">
  <p class="infoText">
    ¡Prepárese para revolucionar su flujo de trabajo investigativo! Como Investigador,
    sus funciones principales se centran en gestionar el ciclo de vida completo de las muestras
    de campo, desde la recolección hasta el análisis. Sus módulos le proporcionan herramientas
    poderosas: el módulo Muestras le permite crear, visualizar, actualizar y gestionar todas sus
    muestras de campo y elementos de inventario; el módulo Unidad de Producción le permite
    registrar y modificar con precisión la información sobre los sitios específicos donde se
    extrajeron las muestras; y el módulo Manejo de Código de Barra facilita la generación, impresión y
    escaneo rápidos de códigos de barras para asegurar una identificación rápida y precisa de las
    muestras y la recuperación de datos, eliminando errores manuales y acelerando su proceso de
    diagnóstico.
  </p>
</div>



